<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button>
              <div><img src="../../assets/imgs/ic_cd.svg" alt=""></div>
          </ion-menu-button>
        </ion-buttons>
        <ion-title style=text-align:center routerLink="/home">
            <img src="../../assets/imgs/LMCLUB_logoBlack.svg" alt="LMCLUB">
        </ion-title>
        <ion-buttons slot="end">
          <ion-button routerLink="/user"><img src="../../assets/imgs/ic_username.svg" alt="user"></ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style=text-align:center>
    <!--<div class = "about letter">
      一封来自创始人& CEO, Pitt 皮老师的信
      
      <tspan x="209" y="103">不知不觉中，LMClub大家庭已经伴随着大家走过了</tspan>
      <tspan x="209" y="103">第六个年头。在这六年的时光里，LM团队一直通过最</tspan>
      <tspan x="209" y="123">人性化的私人订制服务为各位会员提供最优质的约会与</tspan>
      <tspan x="209" y="143">生活体验。</tspan>
      <tspan x="274" y="143" font-family=".AppleSystemUIFont"></tspan>
      <tspan x="209" y="163" font-family=".AppleSystemUIFont"></tspan>
      <tspan x="209" y="183">在这六年的时间里，我们在帮助无数优质男女会员们创</tspan>
      <tspan x="209" y="203">造心动约会的过程当中，自己也成长了许多。你们的反</tspan>
      <tspan x="209" y="223">馈与宝贵意见也成就了我们产品与服务的健康成长与不</tspan>
      <tspan x="209" y="243">断壮大。这也树立了我们在陌生人社交行业中处于持续</tspan>
      <tspan x="209" y="263">国际领先的位置。</tspan>
      <tspan x="313" y="263" font-family=".AppleSystemUIFont"></tspan>
      <tspan x="209" y="283" font-family=".AppleSystemUIFont"></tspan>
      <tspan x="209" y="303">在以后的日子里，为了向更多的会员们提供更加订制化</tspan>
      <tspan x="209" y="323">的高端服务，我们以全新的面貌为你们创造更极致的用</tspan>
      <tspan x="209" y="343">户体验、更多样化的产品体系和服务以及推出更多新潮</tspan>
      <tspan x="209" y="363">精彩的活动和内容。</tspan>
      <tspan x="326" y="363" font-family=".AppleSystemUIFont"></tspan>
      <tspan x="209" y="383" font-family=".AppleSystemUIFont"></tspan>
      <tspan x="209" y="403" font-family=".AppleSystemUIFont">LMClub</tspan>
      <tspan x="265.728891" y="403">不仅仅只是约会，LMClub将会创造你生活</tspan>
      <tspan x="209" y="423">的美好。</tspan>
      <tspan x="261" y="423" font-family=".AppleSystemUIFont"></tspan>
      <tspan x="209" y="443" font-family=".AppleSystemUIFont"></tspan>
      <tspan x="209" y="463">爱你们的Pitt皮老师敬上</tspan>
      <tspan x="360.487305" y="463" font-family=".AppleSystemUIFont"></tspan>
      <tspan x="209" y="483" font-family=".AppleSystemUIFont">2018.09</tspan>
    </div>-->
    <!--button for login & singup-->
    <div class="banner">
      <div class="mainText">
          <p>一封来自创始人&CEO, Pitt 皮老师的信 </p>
          <p> 不知不觉中，LMClub大家庭已经伴随着大家走过了第六个年头。在这六年的时光里，LM团队一直通过最人性化的私人订制服务为各位会员提供最优质的约会与生活体验。</p>
          <p> 在这六年的时间里，我们在帮助无数优质男女会员们创造心动约会的过程当中，自己也成长了许多。你们的反馈与宝贵意见也成就了我们产品与服务的健康成长与不断壮大。这也树立了我们在陌生人社交行业中处于持续国际领先的位置。</p>
          <p>在以后的日子里，为了向更多的会员们提供更加订制化的高端服务，我们以全新的面貌为你们创造更极致的用户体验、更多样化的产品体系和服务以及推出更多新潮精彩的活动和内容。</p>
          <p>LMClub不仅仅只是约会，LMClub将会创造你生活的美好。</p>
          <p>爱你们的Pitt 皮老师敬上<br>
              2018.09</p>
      </div>
    </div>
    <div class="footer_about">
        <button class="button1 btMargin fontWeight" routerLink="/user" expand="block" color="secondary">会员登录</button>
        <button class="button1 fontWeight" routerLink="/signup" expand="block" color="secondary">申请入会</button>

        <!-- social media -->
        <div class="footP">
            <p style="font-size: .9rem;">关注我们</p>
            <br>
            <div class="social_media">
                <ul>
                    <li><a href="https://www.facebook.com/LM-CLUB-1413356455353537/"><img id="social-tw" class= "social" src="../../assets/imgs/social-wbicon.svg"></a>
                    <li><a href="https://www.instagram.com/lm.club"><img id="social-it" class= "social" src="../../assets/imgs/social-facebook.svg"></a>
                    <li><a href="https://www.linkedin.com/company/elitely/"><img id="social-li" class= "social" src="../../assets/imgs/social-instagram.svg"></a>
                    <li><a href="#"><img id="social-yt" class= "social" src="../../assets/imgs/social icon Youtube.svg"></a></li>
                </ul>
            </div>
        </div>
    </div>

</ion-content>
