<ion-header>
    <ion-toolbar>
       <!-- <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>-->
          <ion-title style=text-align:center><div class="backButton" (click)="banckFunction()"><img src="../../assets/imgs/ic_back01.svg" alt=""></div>谁翻过我</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class= "lm-userinfo-settings-page">
    <h2 class="titleh2">当月翻过我的会员</h2>
    <div class="divKuang">
        <div class="myImgListrow">
            <div class="labelTitle itemLeft">
                <div class="imgDiv">
                    <div class="touxImgDiv">
                        <img class="touxImg" src="../../assets/imgs/Dating_Card1.png" alt="LMCLUB">-
                    </div>
                </div>
            </div>
            <div class="itemRight textRight">VIP123</div>
            <div class="clear"></div>
        </div>
        <div class="bottomBorder"></div>
        <div class="myImgListrow">
            <div class="labelTitle itemLeft">
                <div class="imgDiv">
                    <div class="touxImgDiv">
                        <img class="touxImg" src="../../assets/imgs/Dating_Card1.png" alt="LMCLUB">-
                    </div>
                </div>
            </div>
            <div class="itemRight textRight">M556</div>
            <div class="clear"></div>
        </div>
        <div class="bottomBorder"></div>
        <div class="myImgListrow">
            <div class="labelTitle itemLeft">
                <div class="imgDiv">
                    <div class="touxImgDiv">
                        <img class="touxImg" src="../../assets/imgs/Dating_Card1.png" alt="LMCLUB">-
                    </div>
                </div>
            </div>
            <div class="itemRight textRight">M2215</div>
            <div class="clear"></div>
        </div>
        <div class="bottomBorder"></div>
    </div>

    <div class="divKuang syfpNumber">
        <div class="myListrow">
            <div class="labelTitle itemLeft">当前剩余被翻牌次</div>
            <div class="itemRight textRight" style="padding-right: 5pt;color: rgb(137 ,137 ,137) ">27/30/每月</div>
        </div>
        <div class="myListrow hysj">
            <span routerLink="/home" style=text-align:center;>会员升级</span>
        </div>
    </div>
    <div class="sjjjText">
        升级会员可以提高你的翻牌次数和更多VIP权限哦~
    </div>
</ion-content>

        