.backButton{
  margin-left: 10pt;
  width: 20pt;
  height: 20pt;
  z-index: 99;
  position: absolute;
}
.myTitle{
  text-align:center;
  height:30pt;
  line-height: 30pt;
  font-size: 13pt;
  font-weight:700 ;
  letter-spacing: 0.48pt;
  position: static;
}
.myTab{
  height: 30pt;
  width: 100%;
  position: relative;
}
.myTab ul{
   height: 30pt;
   width: 200pt;
   position: absolute;
   left: 0;
   right: 0;
   margin: auto;
 }
.myTab ul li{
  height: 30pt;
  line-height: 30pt;
  width: 50pt;
  text-align: center;
  cursor: pointer;
  font-family: PingFangSC-Semibold;
  font-size: 11pt;
  letter-spacing: 0.29pt;
  font-weight: 600;
  color: rgba( 0 ,0 ,0 ,0.5);
}
.myTab ul li.on{
  color: #000;
  border-bottom: 3px solid #000;
}
.myTab ul .leftLiButton{
  float: left;
}
.myTab ul .centerLiButton{
  position: absolute;
  left: 0;
  right:0;
  margin: auto;
}
.myTab ul .rightLiButton{
  float: right;
}
.cardDIV{
  position: absolute;
  top: 200px;
  height: 30rem;
  width: 80%;
  left: 0;
  right:0;
  margin: 0 auto;
  background: #fff;
  border-radius: .4rem;
  z-index: 99;
}
/*.cardDIV h3{
  text-align: center;
  margin-top: 2rem;
}*/
.imgClass{
  width: 100%;
  height: calc(100%);
  margin: 1rem auto;
}
.imgClass img{
  width: 100%;
  height: 100%;
}
.btnClass{
  height:5rem;
  border-top: 1px solid #f2f2f2;
  position: absolute;
  bottom: .2rem;
  width: 100%;

}
.lookmore{
  background: #fff;
  padding: 0;
  width: 50%;
  height:3.95rem;
  border:0;
  float: left;
  font-size: 14pt;
  border-right: 1px solid #f2f2f2;
  color: #b1bacc;
  font-weight: 600;
}
.sure{
  background: #fff;
  padding: 0;
  width: 49%;
  border:0;
  float: right;
  font-size: 14pt;
  height:3.95rem;
  color: #ef5069;
  font-weight: 600;
}
.cardERRDiv{
  height: 22rem;
}
.imgMDiv{
  margin: 20pt auto;
  width: 20rem;
  height: 20rem;
}
.imgMDiv img{
  display: block;
  margin: 0 auto;
}
.wxTj{
  color: #ef5069;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14pt;
  background: #fff;
  font-weight: 600;
}
.cardDIV .h3{
  margin: 30pt;
  font-size: 16pt;
  font-weight: 600;
  font-family: PingFangSC-Medium;
  text-align: center;
}
.cardDIV .textP{
  padding: 0 26pt;
  font-size: 12pt;
  line-height: 13.5pt;
  font-family: PingFangSC-Medium;
  color: rgb( 179 ,179 ,179);
  text-align: center;
}
.cardBDiv .xsj{
  right:1rem;
}
.cardMDiv .xsj{
  left:1rem;
}
.cardFDiv .xsj{
  left: calc( 50% - 2rem);
}
.xsj{
  position: absolute;
  bottom:-3rem ;
  width: 0;
  height: 0;
  border-width: 2rem;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}
.bgModelDiv{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 98;
}
.dad-noSelect,.dad-noSelect *{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
}

.dad-container{
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dad-container::after{
  content: '';
  clear: both !important;
  display: block;
}
.dad-active .dad-draggable-area{
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.dads-children-clone{
  opacity: 0.8;
  z-index: 9999;
  pointer-events: none;
}
.dads-children-placeholder{
  overflow: hidden;
  position: absolute !important;
  box-sizing: border-box;
  border:4px dashed #639BF6;
  margin:5px;
  text-align: center;
  color: #639BF6;
  font-weight: bold;
}

.jq22 {
  width: 330px;
  height: 330px;
  margin: 0 auto;
  font-size: 0;
}
.jq22 .item {
  display: inline-block;
  width: 102px;
  height: 102px;
  margin: 0 12px 12px 0;
  // background-color: #ccc;

  /*background: #f2f2f2 url("../../assets/imgs/caricon.svg") no-repeat center;
  background-size: 50%;*/
  background: #f2f2f2 url("../../assets/imgs/fsdxx1.svg") no-repeat center;
  background-size: 100%;
  float: left;
  position: relative;/*overflow: hidden;*/
}
.jq22 .item:nth-child(1) {width: 216px; height: 216px;}
.jq22 .item:nth-child(2) {margin-right: 0;}
.jq22 .item:nth-child(3) {margin-right: 0;}
.jq22 .item:nth-child(6) {margin-right: 0;}
.jq22 .item.example {
 // border:3px dashed transparent;
/*  border-style:dashed;
  border-width:3px;
  //border-color: transparent;
  -moz-border-image:linear-gradient(to right bottom , #ffd3da 0%,#ffd3da 25%,#ffd 26%,#fff 50%,#fff 74%,#ffd3da 75%,#ffd3da 100%) 12 12 round;	!* Old Firefox *!
  -webkit-border-image:linear-gradient(to right bottom , #ffd3da 0%,#ffd3da 25%,#ffd 26%,#fff 50%,#fff 74%,#ffd3da 75%,#ffd3da 100%) 12 12 round;	!* Safari and Chrome *!
  -o-border-image:linear-gradient(to right bottom , #ffd3da 0%,#ffd3da 25%,#ffd 26%,#fff 50%,#fff 74%,#ffd3da 75%,#ffd3da 100%) 12 12 round;		!* Opera *!
  border-image:linear-gradient(to right bottom , #ffd3da 0%,#ffd3da 25%,#ffd 26%,#fff 50%,#fff 74%,#ffd3da 75%,#ffd3da 100%) 12 12 round;*/
}

.jq22>span { display: block; width:100%;height: 100%; line-height: 100px; font-size: 2rem; text-align: center; color: #fff;}
.jq22 .img { display: block;width: 100%; height: 100%; text-align: center; border-radius: 7px;max-width: 300%;}
.jq22 .span { display: block;width: 100%;height: 100%;text-align: center;position: absolute;top: 0;left: 0;}
.addItem{
  display: block;width: 30px;height: 30px;font-size: 2rem;line-height:2rem;text-align: center;margin: auto;
  position: absolute;
  /*top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  top: -10px;
  right: -10px;
  background: rgb( 255 ,211 ,218) url("../../assets/imgs/ic_plusadd.svg") no-repeat center;
  background-size: 40%;
  border-radius: 50%;
}
.fileItem{
  display: block;width:100%;height: 100%;font-size: 2rem;line-height:2rem;text-align: center;margin: auto;position: absolute;top: 0;bottom: 0;left: 0;right: 0;opacity: 0;
}
.addDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}
.delDiv{
  width: 30px;
  height: 30px;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 99;
}
.delItem{
  display: block;width: 30px;height: 30px;font-size: 2rem;line-height:2rem;text-align: center;margin: auto;position: absolute;top: 0;bottom: 0;left: 0;right: 0;
  background: #fff;
  border-radius: 50%;
}
.delItem img{
  width: 10px;
  height: 10px;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/*
@media (max-width: 768px){
  .jq22 {
    width: calc(100%);
    height:100%;
    margin: 0 auto
  }
}*/
.backButton{
  margin-left: 10pt;
  width: 20pt;
  height: 20pt;
  z-index: 99;
  position: absolute;
}
.lm-baseinfo-settings-page {
  background-color: rgb( 242 ,242 ,242);
  font-family: PingFangSC-Regular;
}
.titleh2{
  margin: 0;
  background-color: rgb( 242 ,242 ,242);
  padding: 50pt 7pt 10pt;
  letter-spacing: 0.5pt;
  font-size: 11pt;
  color: rgb( 137 ,137 ,137);
  font-family: PingFangSC-Semibold;
  font-weight: 600;
}
.imgDiv{
  height: 89px;
  width: 89px;
  padding: 3px;
  border: 1px solid rgb(254,96,96);
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20pt;
  position: relative;
}
.touxImgDiv{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.sjButton{
  background: #fff;
  color: rgb( 239, 80, 105);
  height: 30pt;
  line-height: 30pt;
  margin-top: 25pt;
  font-family: PingFangSC-Semibold;
  font-size: 12pt;
  font-weight: 600;
  border-top: 1px solid rgb( 200 ,199 ,204);
  border-bottom: 1px solid rgb( 200 ,199 ,204);
}
.sjButton span{
  display: block;
  width: 100%;
}
.sjjjText{
  text-align: left;
  font-size: 11pt;
  padding: 10pt;
  margin-top: 5pt;
  font-family: PingFangSC-Regular;
  color: rgb( 184 ,184 ,186);
}
.divKuang{
  margin-bottom: 30pt;
  border-top: 1px solid rgb( 200 ,199 ,204);
  border-bottom: 1px solid rgb( 200 ,199 ,204);
  background: #fff;
}
.syfpNumber{
  margin-top: 50pt;
}

.bottomBorder{
  height: 0px;
  margin-left: 1rem;
  border-bottom: 1px solid rgb( 200 ,199 ,204);
}
.ycRight{
  width: 50pt;
  height: 100%;
  position: relative;
}
.divPosition{
  position: relative;
  top: 4px;
}
.buttonSure{
  padding: 30pt 5% 50pt;
}
.buttonSure .sureButton{
  width: 100%;
  height: 30pt;
  line-height: 30pt;
  border: 0;
  border-radius: 5pt;
  font-size: 14pt;
  font-family: PingFangSC-Medium;
  letter-spacing: 0.5pt;
  font-weight: 600;
  background: rgb( 255, 211, 218);
}
.hqyzm{
  background: rgb( 239, 80 ,105);
  color: #fff;
  // width: 65pt;
  height: 16pt;
  border-radius: 2px;
  border: none;
  outline: none;
  margin-top: 5pt;
  margin-left: 5pt;
  padding: 0 3pt;
  letter-spacing: 0.25pt;
  font-size: 10pt;
  // position: absolute;
  right: 5pt;
}
.divPositionInput{
  position: absolute;
  height: 30pt;
  width: 50pt;
  top:0;
  right: 0;
  background: transparent;
  border: 0;
}
.fontText{
  font-size: 10pt;
  letter-spacing: 0.33pt;
  padding: 0 10pt 10pt;
  font-family: PingFangSC-Semibold;
}
.leftText{
  color: rgb(255 ,211 ,218);
  float: left;

}
.rightText{
  color: rgb(216, 216 ,216);
  float: right;
}
.clear{
  clear: both;
}
.backButton{
  margin-left: 10pt;
  width: 20pt;
  height: 20pt;
  z-index: 99;
  position: absolute;
}
.lm-baseinfo-settings-page {
  background-color: rgb( 242 ,242 ,242);
  font-family: PingFangSC-Regular;
}
.titleh2{
  margin: 0;
  background-color: rgb( 242 ,242 ,242);
  padding: 50pt 7pt 10pt;
  letter-spacing: 0.5pt;
  font-size: 11pt;
  color: rgb( 137 ,137 ,137);
  font-family: PingFangSC-Semibold;
  font-weight: 600;
}
.imgDiv{
  height: 89px;
  width: 89px;
  padding: 3px;
  border: 1px solid rgb(254,96,96);
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20pt;
  position: relative;
}
.touxImgDiv{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.sjButton{
  background: #fff;
  color: rgb( 239, 80, 105);
  height: 30pt;
  line-height: 30pt;
  margin-top: 25pt;
  font-family: PingFangSC-Semibold;
  font-size: 12pt;
  font-weight: 600;
  border-top: 1px solid rgb( 200 ,199 ,204);
  border-bottom: 1px solid rgb( 200 ,199 ,204);
}
.sjButton span{
  display: block;
  width: 100%;
}
.sjjjText{
  text-align: left;
  font-size: 11pt;
  padding: 10pt;
  margin-top: 5pt;
  font-family: PingFangSC-Regular;
  color: rgb( 184 ,184 ,186);
}
.divKuang{
  margin-bottom: 30pt;
  border-top: 1px solid rgb( 200 ,199 ,204);
  border-bottom: 1px solid rgb( 200 ,199 ,204);
  background: #fff;
}
.syfpNumber{
  margin-top: 50pt;
}

.bottomBorder{
  height: 0px;
  margin-left: 1rem;
  border-bottom: 1px solid rgb( 200 ,199 ,204);
}
.ycRight{
  width: 50pt;
  height: 100%;
  position: relative;
}
.divPosition{
  position: relative;
  top: 4px;
}
.buttonSure{
  padding: 30pt 5% 0;
}
.buttonSure .sureButton{
  width: 100%;
  height: 30pt;
  line-height: 30pt;
  border: 0;
  border-radius: 5pt;
  font-size: 14pt;
  font-family: PingFangSC-Medium;
  letter-spacing: 0.5pt;
  font-weight: 600;
  background: rgb( 255, 211, 218);
}
.hqyzm{
  background: rgb( 239, 80 ,105);
  color: #fff;
  // width: 65pt;
  height: 16pt;
  border-radius: 2px;
  border: none;
  outline: none;
  margin-top: 5pt;
  margin-left: 5pt;
  padding: 0 3pt;
  letter-spacing: 0.25pt;
  font-size: 10pt;
  // position: absolute;
  right: 5pt;
}
.divPositionInput{
  position: absolute;
  height: 30pt;
  width: 50pt;
  top:0;
  right: 0;
  background: transparent;
  border: 0;
}
.backButton{
  margin-left: 10pt;
  width: 20pt;
  height: 20pt;
  z-index: 99;
  position: absolute;
}
.lm-baseinfo-settings-page {
  background-color: rgb( 242 ,242 ,242);
  font-family: PingFangSC-Regular;
}
.titleh2{
  margin: 0;
  background-color: rgb( 242 ,242 ,242);
  padding: 50pt 7pt 10pt;
  letter-spacing: 0.5pt;
  font-size: 11pt;
  color: rgb( 137 ,137 ,137);
  font-family: PingFangSC-Semibold;
  font-weight: 600;
}
.imgDiv{
  height: 89px;
  width: 89px;
  padding: 3px;
  border: 1px solid rgb(254,96,96);
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20pt;
  position: relative;
}
.touxImgDiv{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.sjButton{
  background: #fff;
  color: rgb( 239, 80, 105);
  height: 30pt;
  line-height: 30pt;
  margin-top: 25pt;
  font-family: PingFangSC-Semibold;
  font-size: 12pt;
  font-weight: 600;
  border-top: 1px solid rgb( 200 ,199 ,204);
  border-bottom: 1px solid rgb( 200 ,199 ,204);
}
.sjButton span{
  display: block;
  width: 100%;
}
.sjjjText{
  text-align: left;
  font-size: 11pt;
  padding: 5pt 10pt;
  font-family: PingFangSC-Regular;
  color: rgb( 184 ,184 ,186);
}
.divKuang{
  margin-bottom: 30pt;
  border-top: 1px solid rgb( 200 ,199 ,204);
  border-bottom: 1px solid rgb( 200 ,199 ,204);
  background: #fff;
}
.syfpNumber{
  margin-top: 50pt;
}
.myListrow{
  height: 45px;
  line-height: 45px;
  background: #fff;
}
.itemLeft{
  float: left;
  padding-left: 1rem;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .75pt;
  font-family: PingFangSC-Regular;
}
.itemRight{
  float: right;
  font-size: 13px;
  letter-spacing: 0.4pt;
  padding-right: 5pt;
  color: rgb( 137, 137, 137);
}
.bottomBorder{
  height: 0px;
  margin-left: 1rem;
  border-bottom: 1px solid rgb( 200 ,199 ,204);
}
.ycRight{
  width: 50pt;
  height: 100%;
  position: relative;
}
.divPosition{
  position: relative;
  top: 4px;
}
.buttonSure{
  padding: 30pt 5% 0;
  margin-bottom: 30pt;
}
.buttonSure .sureButton{
  width: 100%;
  height: 30pt;
  line-height: 30pt;
  border: 0;
  border-radius: 5pt;
  font-size: 14pt;
  font-family: PingFangSC-Medium;
  letter-spacing: 0.5pt;
  font-weight: 600;
  background: rgb( 255, 211, 218);
}
.hqyzm{
  background: rgb( 239, 80 ,105);
  color: #fff;
  // width: 65pt;
  height: 16pt;
  border-radius: 2px;
  border: none;
  outline: none;
  margin-top: 5pt;
  margin-left: 5pt;
  padding: 0 3pt;
  letter-spacing: 0.25pt;
  font-size: 10pt;
  // position: absolute;
  right: 5pt;
}
.clear{
  clear: both;
}
.borderColor{
  border: 1px solid #ffd3da;
  margin-right: 10px;
  border-radius: 10px;
  height: 28px;
  line-height: 28px;
  background: #fff;
}
.bgColor1{
  background: #FFFFFF;
  border: 1px solid #ffd3da;
  margin: 10px 5px;
  border-radius: 12px;
  height: 24px;
  width: 62px;
  text-align: center;
  line-height: 24px;
  float: left;
  cursor: pointer;
  color: #000;
  font-weight: 600;
}
.bgColor1.classOn{
  background: #ffd3da;
  color: #000;
}
.addMyChip{
  width: 40pt;
  height: 30pt;
  line-height: 30pt;
  float: left;
  margin-left: 10pt;
  color: rgb( 184 ,184 ,186);
  font-size: 16pt;
}
.myChipK{
  padding: 10pt 30pt;
}
.imgModelScss{
  position: absolute;
  top: 50px;
  height: auto;
  width: 70%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #fff;
  border-radius: .4rem;
  z-index: 99;
  .photoDiv{
    //height: 413px;
    margin-bottom: 3rem;
    border: 1px solid rgb( 114,102,206);
    border-radius: 5px;
    padding: 20px 25px;
    background: #fff;
  }
  .photoText{
    font-size: 7pt;
    letter-spacing: 0.65pt;
    text-align: left;
    margin-bottom: 10pt;
    font-weight: 100;
  }
  .photoJDT{
    width: 80px;
    margin: 20px auto 0;
  }
  .photoUpdataDiv{
    background: rgb( 218,218,218) url("../../assets/imgs/cameraUploadProfile@3x.png") no-repeat center center;
    background-size: 70% 50%;
    height: 202px;
    width: 202px;
    border-radius: 5px;
    border: 1px solid rgb( 151,151,151);
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }
  .add-photo{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 300%;
    max-height: 300%;
  }
  .FDSXdiv{
    position: absolute;
    z-index: 99;
    height: 50px;
    bottom: 0;
    width: 100%;
    background: rgba( 0,0,0,0.6);
  }
  .dmDiv{
    width: 90%;
    margin: 0 auto;
  }
  .FDSXdiv ul li{
    float: left;
    width: 49%;
    height: 49px;
    text-align: center;
  }
  .FDSXdiv ul li img{
    height: 40px;
    width: 40px;
    margin: 5px auto;
  }
  .FDSXdiv ul li.fangda{
    border-right: 1px solid #1e1e1e;
  }
  .nextBtn{
    width: 100%;
    height: 40px;
    text-align: center;
    border: 1px solid #fff;
    background: rgb(114,102,206);
    margin-top: 10px;
    border-radius: 7px;
    color: #fff;
  }

  .dmImg li,.mhImg li{
    width: 30% ;
    height: 40px;
    border: 1px solid rgb(218,218,218);
    background: rgb(218,218,218);
    border-radius: 5px;
    text-align: center;
    float: right;
    margin: 12px 4.5% 0px 0;
    overflow: hidden;
    cursor: pointer;
    position: relative;
  }
  .mhImg li img{
    width: 100%;
    height: 100%;
  }
  .dmImg li img{
    width: 100%;
    height: 100%;
    padding:10px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .dmImg li img.fistImg{
    width: 100%;
    height: 100%;
    padding:0;
  }
  .clear{
    clear: both;
  }
  .blur {
    filter: blur(6px);
    -webkit-filter: blur(6px); /* chrome, opera */
    -ms-filter: blur(6px);
    -moz-filter: blur(6px);
  }
  .blurmin{
    filter: blur(3px);
    -webkit-filter: blur(3px); /* chrome, opera */
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
  }
  .blurmax {
    filter: blur(6px);
    -webkit-filter: blur(6px); /* chrome, opera */
    -ms-filter: blur(6px);
    -moz-filter: blur(6px);
  }
  #logoImg{
    width: 80px;
    height: 80px;
    position: absolute;
    top: -999px;
    left: -999px;
    z-index: 99;
  }
  #logoImg.move{
    top: 20px;
    left: 30%;
  }
  .submitDiv{
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  .submitDiv a{
    display: block;
    text-decoration: none;
  }
  input[type=submit] {
    height: 40pt;
    background: #7266CE;
    border: 1px solid #7266CE;
    // border-radius: 5px;
    font-family: PingFangSC-Light;
    font-size: 14pt;
    font-weight: 100;
    color: #FFFFFF;
    letter-spacing: 0.08rem;
    cursor: pointer;
    width: 100%;
    font-style: normal;
    text-decoration: none;
    /*  margin:5rem 0 3rem;*/
  }
  .modal-login{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba( 0,0,0,0.5);
    z-index: 100;
    /* display: none;*/
    .modelDiv{
      width: 80%;
      padding: 2rem;
      margin: 60pt auto;
      background: #fff;
      border-radius: 8px;
    }
    .inputStyle {
      width: 100%;
      height: 2.8rem;
      border-radius: 5px;
      border: none;
      outline: none;
      margin-top: 0.6rem;
      padding: 0 1rem;
      border:1px solid rgb( 114,102,206);
    }
    .button1{
      width: 100%;
      height: 3.1rem;
      border-radius: 5px;
      border: none;
      outline: none;
      margin-top: 1.6rem;
      padding: 0 1rem;
      background: #7266ce;
      color: #fff;
      /*  letter-spacing: 0.25rem;
        font-weight: 600;*/
      font-size: 1.2rem;
    }
    .headBt{
      font-family: WenYue-HouXianDaiTi-NC-W2-75;
      font-size: 1.7rem;
      font-weight: 100;
      text-align: center;
      line-height: 2.5rem;
      margin-bottom: 3rem;
    }
    .bodyText{
      margin-bottom: 5rem;
    }
    .inputDiv h3{
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
  }


  .modal-kefu{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba( 0,0,0,0.5);
    z-index: 100;
    /*display: none;*/
    .modelDiv{
      width: 80%;
      padding: 2rem 3rem 4rem;
      margin: 60pt auto;
      background: #fff;
      border-radius: 8px;
    }

    .button1{
      width: 100%;
      height: 3.1rem;
      line-height: 3.1rem;
      border-radius: 5px;
      border: none;
      outline: none;
      margin-top: 1.6rem;
      padding: 0 1rem;
      background: #7266ce;
      color: #fff;
      /*  letter-spacing: 0.25rem;
        font-weight: 600;*/
      font-size: 1.2rem;
    }
    .headBt{
      font-size: 1.6rem;
      font-weight: 100;
      text-align: center;
      line-height: 2.5rem;
      margin-bottom: 2rem;
    }
    .bodyText{
      margin-bottom: .5rem;
    }
    .imgDiv{
      text-align: center;
      padding: 3rem 0;

    }
    .imgDiv img{
      width: auto;
      height: 10rem;
    }
    .iconWX{
      position: relative;
      display: inline-block;
      width: 2rem;
      height:2rem;
      top: .6rem;
      background: url("../../assets/imgs/weChatIcon@3x.png") no-repeat center center;
      background-size: contain;
    }
  }

}

.blur {
  filter: blur(6px);
  -webkit-filter: blur(6px); /* chrome, opera */
  -ms-filter: blur(6px);
  -moz-filter: blur(6px);
}
.blurmin{
  filter: blur(3px);
  -webkit-filter: blur(3px); /* chrome, opera */
  -ms-filter: blur(3px);
  -moz-filter: blur(3px);
}
.blurmax {
  filter: blur(6px);
  -webkit-filter: blur(6px); /* chrome, opera */
  -ms-filter: blur(6px);
  -moz-filter: blur(6px);
}