<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title> </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <div class="padding1">
              <ion-menu-toggle auto-hide="false">
                  <ul class="navLiText">
                      <li routerLink="/home">主页</li>
                      <li routerLink="/findList">LM约会</li>
                      <li routerLink="/about">关于LM</li>
                      <li routerLink="/home">Blog LM学院</li>
                      <li routerLink="/home">成功故事</li>
                  </ul>
              </ion-menu-toggle>
              <!--        <ion-list>
                        &lt;!&ndash;ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                              {{p.title}}
                            </ion-label>
                          </ion-item>
                        </ion-menu-toggle&ndash;&gt;
                        <ion-menu-toggle auto-hide="false">
                          <ion-item routerLink="/home">主页</ion-item>

                        </ion-menu-toggle>
                      </ion-list>-->

              <!--button for login & singup-->
              <div class="navButtonD">
                  <button class="button1 btMargin fontWeight" routerLink="/user" expand="block" color="secondary">会员登录</button>
                  <button class="button1 fontWeight" routerLink="/signup" expand="block" color="secondary">申请入会</button>
              </div>
              <!-- social media -->
              <div class="navLiDiv" style=text-align:center>
                  <p>关注我们</p>
                  <br>
                  <div class="social_media">
                      <ul>
                          <li><a href="https://www.facebook.com/LM-CLUB-1413356455353537/"><img id="social-tw" class= "social" src="../../assets/imgs/social-wbicon.svg"></a>
                          <li><a href="https://www.instagram.com/lm.club"><img id="social-it" class= "social" src="../../assets/imgs/social-facebook.svg"></a>
                          <li><a href="https://www.linkedin.com/company/elitely/"><img id="social-li" class= "social" src="../../assets/imgs/social-instagram.svg"></a>
                          <li><a href="#"><img id="social-yt" class= "social" src="../../assets/imgs/social icon Youtube.svg"></a></li>
                      </ul>
                  </div>
              </div>
          </div>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
      
