.zTreeeParent{
  padding:  0 10px;
  height: 45px;
  line-height: 45px;
  position: relative;
  border-bottom: 1px solid #c8c7cc;
}
.zTreeeChild{
  padding:.5rem 1rem;
  border-bottom: 1px solid #c8c7cc;
}
.parentSpan{
   font-size: 1.17rem;
   font-weight: 600;
 }
.childSpan{
  font-size: 1.17rem;
  font-weight: 600;
}
.treeChildbox{
  height: 3rem;
}
.marginR1{
  margin-right: 1rem;
}
.dropDpwn{
  position: absolute;
  right: 15px;
  float: right;
  top: 0px;
  width: 1rem;
  height: 100%;
  background: url("../../assets/imgs/ic_dropdown_cyan.png") no-repeat center center;
  background-size: contain;
  margin: 3px 5px 0 0;
}
.dropTop{
  float: right;
  width: 1rem;
  height: 100%;
  background: url("../../assets/imgs/ic_drop.png") no-repeat center center;
  background-size: contain;
  margin: 3px 5px 0 0;
}